* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(50, 50, 50);
}

.form-input {
  display: flex;
  flex-direction: column;
  background-color:rgb(255, 255, 255);
  padding: 20px;
}

h1 {
   font-size: 15px;
   font-weight: 700;
   border: 1px solid black;
   text-align: center;
}

.form-input input, button, h1 {
  padding: 5px 10px;
  margin: 10px;
}
